## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [2]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [4]:
for number in range(1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [5]:
for number in range(2,11,2):
    print(number**2)

4
16
36
64
100

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [6]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [7]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [8]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [9]:
total_sum = 0
for number in range(2,1001,2):
    total_sum += number**2
    
print(total_sum)

167167000

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [10]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [11]:
square_number(10)

100

In [12]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [13]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [14]:
absolute_value(2)

2

In [15]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [16]:
def collatz(x):
    if x%2 == 0 :
        return x/2
    else: 
        return x*3+1

In [17]:
collatz(666)

333.0

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [19]:
database_name = 'lahmans_baseball'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)

In [20]:
query = """
SELECT *
FROM teams
"""

teams = pd.read_sql(text(query), con = engine)
teams.head()

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,1871,NA,BS1,BNA,None,3,31,NaN,20,10,...,NaN,0.838,Boston Red Stockings,South End Grounds I,NaN,103,98,BOS,BS1,BS1
1,1871,NA,CH1,CNA,None,2,28,NaN,19,9,...,NaN,0.829,Chicago White Stockings,Union Base-Ball Grounds,NaN,104,102,CHI,CH1,CH1
2,1871,NA,CL1,CFC,None,8,29,NaN,10,19,...,NaN,0.814,Cleveland Forest Citys,National Association Grounds,NaN,96,100,CLE,CL1,CL1
3,1871,NA,FW1,KEK,None,7,19,NaN,7,12,...,NaN,0.803,Fort Wayne Kekiongas,Hamilton Field,NaN,101,107,KEK,FW1,FW1
4,1871,NA,NY2,NNA,None,5,33,NaN,16,17,...,NaN,0.839,New York Mutuals,Union Grounds (Brooklyn),NaN,90,88,NYU,NY2,NY2

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [21]:
def get_teams(x):
        return teams[teams['yearid'] == x]

get_teams(1979)

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
1761,1979,NL,ATL,ATL,W,6,160,79.0,66,94,...,139.0,0.970,Atlanta Braves,Atlanta-Fulton County Stadium,769465.0,107,109,ATL,ATL,ATL
1762,1979,AL,BAL,BAL,E,1,159,79.0,102,57,...,161.0,0.980,Baltimore Orioles,Memorial Stadium,1681009.0,97,95,BAL,BAL,BAL
1763,1979,AL,BOS,BOS,E,3,160,80.0,91,69,...,166.0,0.977,Boston Red Sox,Fenway Park II,2353114.0,106,106,BOS,BOS,BOS
1764,1979,AL,CAL,ANA,W,1,162,81.0,88,74,...,172.0,0.978,California Angels,Anaheim Stadium,2523575.0,96,96,CAL,CAL,CAL
1765,1979,AL,CHA,CHW,W,5,160,79.0,73,87,...,142.0,0.972,Chicago White Sox,Comiskey Park,1280702.0,100,101,CHW,CHA,CHA
1766,1979,NL,CHN,CHC,E,5,162,81.0,80,82,...,163.0,0.975,Chicago Cubs,Wrigley Field,1648587.0,110,111,CHC,CHN,CHN
1767,1979,NL,CIN,CIN,W,1,161,80.0,90,71,...,152.0,0.980,Cincinnati Reds,Riverfront Stadium,2356933.0,101,101,CIN,CIN,CIN
1768,1979,AL,CLE,CLE,E,6,161,81.0,81,80,...,149.0,0.979,Cleveland Indians,Cleveland Stadium,1011644.0,101,101,CLE,CLE,CLE
1769,1979,AL,DET,DET,E,5,161,80.0,85,76,...,184.0,0.980,Detroit Tigers,Tiger Stadium,1630929.0,103,103,DET,DET,DET
1770,1979,NL,HOU,HOU,W,2,162,81.0,89,73,...,146.0,0.978,Houston Astros,Astrodome,1900312.0,94,94,HOU,HOU,HOU
1771,1979,AL,KCA,KCR,W,2,162,81.0,85,77,...,160.0,0.977,Kansas City Royals,Royals Stadium,2261845.0,102,101,KCR,KCA,KCA
1772,1979,NL,LAN,LAD,W,3,162,81.0,79,83,...,123.0,0.981,Los Angeles Dodgers,Dodger Stadium,2860954.0,99,98,LAD,LAN,LAN
1773,1979,AL,MIN,MIN,W,4,162,81.0,82,80,...,203.0,0.979,Minnesota Twins,Metropolitan Stadium,1070521.0,104,104,MIN,MIN,MIN
1774,1979,AL,ML4,MIL,E,2,161,81.0,95,66,...,153.0,0.980,Milwaukee Brewers,County Stadium,1918343.0,100,99,MIL,MIL,MIL
1775,1979,NL,MON,WSN,E,2,160,81.0,95,65,...,123.0,0.979,Montreal Expos,Stade Olympique,2102173.0,99,98,MON,MON,MON
1776,1979,AL,NYA,NYY,E,4,160,81.0,89,71,...,183.0,0.981,New York Yankees,Yankee Stadium II,2537765.0,98,96,NYY,NYA,NYA
1777,1979,NL,NYN,NYM,E,6,163,82.0,63,99,...,168.0,0.978,New York Mets,Shea Stadium,788905.0,96,97,NYM,NYN,NYN
1778,1979,AL,OAK,OAK,W,7,162,81.0,54,108,...,137.0,0.972,Oakland Athletics,Oakland Coliseum,306763.0,94,96,OAK,OAK,OAK
1779,1979,NL,PHI,PHI,E,4,163,81.0,84,78,...,148.0,0.983,Philadelphia Phillies,Veterans Stadium,2775011.0,103,102,PHI,PHI,PHI
1780,1979,NL,PIT,PIT,E,1,163,81.0,98,64,...,163.0,0.979,Pittsburgh Pirates,Three Rivers Stadium,1435454.0,105,105,PIT,PIT,PIT
1781,1979,NL,SDN,SDP,W,5,161,81.0,68,93,...,154.0,0.978,San Diego Padres,Jack Murphy Stadium,1456967.0,93,94,SDP,SDN,SDN
1782,1979,AL,SEA,SEA,W,6,162,81.0,67,95,...,170.0,0.978,Seattle Mariners,Kingdome,844447.0,102,104,SEA,SEA,SEA
1783,1979,NL,SFN,SFG,W,4,162,81.0,71,91,...,138.0,0.974,San Francisco Giants,Candlestick Park,1456402.0,93,94,SFG,SFN,SFN
1784,1979,NL,SLN,STL,E,3,163,82.0,86,76,...,166.0,0.980,St. Louis Cardinals,Busch Stadium II,1627256.0,102,102,STL,SLN,SLN
1785,1979,AL,TEX,TEX,W,3,162,81.0,83,79,...,151.0,0.979,Texas Rangers,Arlington Stadium,1519671.0,99,98,TEX,TEX,TEX
1786,1979,AL,TOR,TOR,E,7,162,81.0,53,109,...,187.0,0.975,Toronto Blue Jays,Exhibition Stadium,1431651.0,100,102,TOR,TOR,TOR

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [22]:
def get_best_teams(year, n):
#     n = 5
#     print(teams[(teams['yearid']==year)], (teams['w'].nlargest([n])))
# get_best_teams(2010, 2)
    year_teams = teams[teams['yearid']==year]
    if n == '':
        return year_teams['w'].nlargest(n)

In [23]:
print(get_best_teams(2010, 5))

None

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [24]:
# Your Code Here

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [25]:
# Your Code Here

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [26]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [27]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [28]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here